// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

body {
    font-size: min(200%, 20px);
}

.site-title {
    font-weight: bold;
}

.title-wrapper {
    position: absolute;
    margin-left: max(2.5%, 15px);
}

.site-header {
    display: table;
}

.site-title:hover {
    text-decoration: none;
}

.project-name {
    display: inline;
}

.project-name-no-link {
    color: inherit;
    display: inline;
    text-decoration: none !important;
}

.project-data-table {
    border-collapse: collapse;
    border: none;
    border-spacing: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-right: 0;
    width: 100%;
    display: table;

    td, th {
        border-collapse: collapse;
        border: none;
        padding-right: 0;
        margin-right: 0;
    }
}

.project-tools {
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.project-date {
    font-style: italic;
    text-align: right;
}

.project-media {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0 6px;
    color: var(--minima-brand-color-dark);
    line-height: inherit;
    vertical-align: middle;
}

.theme-toggle:hover {
    color: var(--minima-text-color);
}
