// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

body {
    font-size: min(200%, 20px);
}

.site-title {
    pointer-events: none;
    font-weight: bold;
}

.project-name {
    display: inline;
}

.project-name-no-link {

    color: black;
    display: inline;
    text-decoration: none !important;
}

.project-data-table {
    border-collapse: collapse;
    border: none;
    border-spacing: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-right: 0;
    width: 100%;
    display: table;

    td, th {
        border-collapse: collapse;
        border: none;
        padding-right: 0;
        margin-right: 0;
    }
}

.project-tools {
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.project-date {
    font-style: italic;
    text-align: right;
}

.project-media {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
