---
layout: base
---
<article class="post">

  <header class="post-header">
    <h1 class="page-heading">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="blog-content">
    <ul class="post-list">
    {%- if site.posts.size > 0 -%}
      {%- for post in site.posts -%}
      <li>
        <table class="project-data-table">
          <tbody>
            <tr>
              <td><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></td>
              <td class="project-date">{{ post.date | date: "%b %d, %Y" }}</td>
            </tr>
          </tbody>
        </table>
        {%- if post.description -%}
          <p>{{ post.description }}</p>
        {%- endif -%}
      </li>
      {%- endfor -%}
    {%- else -%}
      <li><p>No posts yet — check back soon.</p></li>
    {%- endif -%}
    </ul>
  </div>

</article>
